.mixer-wrap{
    height: calc(100dvh - 4rem);
}
/* .mixer-container{
    overflow: auto;
} */
.sub-mixer-wrap{
    overflow: auto;
    scroll-behavior: smooth;
}

.sub-mixer-wrap::-webkit-scrollbar {
    height: 1rem;
}
.sub-mixer-wrap::-webkit-scrollbar-track {
    background: transparent;
    margin-bottom: 0.5rem;
}
.sub-mixer-wrap::-webkit-scrollbar-thumb {
    background: rgb(14 165 233);
    border-top: 0.5rem solid rgb(15 23 42);
} 
.sub-mixer-wrap::-webkit-scrollbar-thumb:hover {
    background: rgb(13, 153, 218);
}

.slider-wrap{
    width: 100%;
    height: 12rem;
    display: grid;
    place-content: center;
}
.slider{
    transform: rotate(270deg);
    -webkit-appearance: none;
    appearance: none;
    width: 12rem;
    height: 25px;
    background: rgb(15 23 42);
    outline: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(14 165 233);
    border-radius: 0.25rem;
    cursor: pointer;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(14 165 233);
    border-radius: 0.25rem;
    cursor: pointer;
}

.panning-slider{
    -webkit-appearance: none;
    appearance: none;
    width: 5rem;
    height: 0.5rem;
    background: rgb(15 23 42);
    border-radius: 0.25rem;
    outline: none;
}
.panning-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.75rem;
    height: 0.75rem;
    background: rgb(14 165 233);
    border-radius: 50%;
    cursor: pointer;
}
.panning-slider::-moz-range-thumb {
    width: 0.75rem;
    height: 0.75rem;
    background: rgb(14 165 233);
    border-radius: 0.25rem;
    cursor: pointer;
}